/* For Mobile */
@media (min-width: 45px) and(max-width: 450px) {
  /* html {
      font-size: 55%;
    } */

}

@media(max-width:450px) {
  .testimonial-img {
    width: 16rem;
    height: 6rem;
  }
  nav img{
    width: 9rem;
    height: 6rem;
    margin-top: 0 !important;
  }
}

@media(max-width:770px) {
  .column {
    align-items: normal;
  }
}

@media(max-width:700px) {
  .campus-col {
    width: auto;
  }
}